[package]
name = "jaarg"
version.workspace = true
license.workspace = true
edition.workspace = true
description.workspace = true
homepage.workspace = true
authors.workspace = true

[features]
default = ["std"]
std = []
