[package]
name = "jaarg"
version.workspace = true
license.workspace = true
edition.workspace = true
description.workspace = true
repository.workspace = true
authors.workspace = true

[features]
default = ["std"]
alloc = []
std = ["alloc"]
